<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>newWord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formNewWords">
    <ion-item>
      <ion-label position="floating">Español:</ion-label>
      <ion-input #espanolw formControlName="espanolw"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Purepecha:</ion-label>
      <ion-input #purepechaw formControlName="purepechaw"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Referencia:</ion-label>
      <ion-input #reference formControlName="reference"></ion-input>
    </ion-item>
  </form>
  <ion-button color="success" expand="block" (click)='registerNewWord(espanolw.value, purepechaw.value, reference.value)'>Guardar</ion-button>
</ion-content>
