<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" >
    <ion-card *ngFor="let wordP of purepechaw">
      <ion-card-header *ngFor="let ref of wordP.reference">
        <ion-card-subtitle>{{ref.espanolw.mainword}}</ion-card-subtitle>
        <ion-card-title>{{wordP.mainword}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content *ngFor="let ref of wordP.reference">
        <p *ngIf="ref.espanolw">{{ref.reference}}</p>
      </ion-card-content>
    </ion-card>
    
    
  </div>
</ion-content>
